p5final/force-app/main/default/flows/Create_New_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create New Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Project</label>
    <loops>
        <description>Loops through the opp prods of the record opp</description>
        <name>Loop_Opportunity_Products</name>
        <label>Loop Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Project_Roles</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a new project when an opportunity becomes closed won.</description>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_End__c</field>
            <value>
                <elementReference>$Record.Date_End__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Start__c</field>
            <value>
                <elementReference>$Record.Date_Start__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Project of: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>For every opp prod creates a project role</description>
        <name>Create_Project_Roles</name>
        <label>Create Project Roles</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_New_Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Of_Hours__c</field>
            <value>
                <elementReference>Loop_Opportunity_Products.Quantity_Of_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Loop_Opportunity_Products.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>Loop_Opportunity_Products.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
